@section picker
<html>
<head>
<title>Pick a colour</title>
<style type="text/css">
#colourview { position:absolute; }
#bluepicker { position:absolute; }
</style>
<script language="Javascript1.1">
<!-- 
var pics;
var blueindex=@{blue};
var redgreen='@{redgreen}';
var blue=new Array;
blue[0]='00';
blue[1]='33';
blue[2]='66';
blue[3]='99';
blue[4]='cc';
blue[5]='ff';

function done()
  {
  location.href='@{Todo::Config::setcolour_cgi}?whichcolour=@{whichcolour}&colour='+redgreen+blue[blueindex];
  }

function updateColour()
  {
  document.colourview.src='/todo/images/'+redgreen+blue[blueindex]+'.gif';
  }

function changeColour(newcolour)
  {
  redgreen=newcolour;
  updateColour();
  }

function changeBlue(index)
  {
  blueindex=index;
  document.colourpickerimage.src='/todo/images/blue'+blue[index]+'.gif';
  updateColour();
  }
// -->
</script>
</head>
<body onLoad="changeBlue(blueindex)">
<map name="colourpickermap">
<area shape=rect coords="0,0,19,19" href="javascript:changeColour('0000');">
<area shape=rect coords="20,0,39,19" href="javascript:changeColour('0033');">
<area shape=rect coords="40,0,59,19" href="javascript:changeColour('0066');">
<area shape=rect coords="60,0,79,19" href="javascript:changeColour('0099');">
<area shape=rect coords="80,0,99,19" href="javascript:changeColour('00cc');">
<area shape=rect coords="100,0,119,19" href="javascript:changeColour('00ff');">

<area shape=rect coords="0,20,19,39" href="javascript:changeColour('3300');">
<area shape=rect coords="20,20,39,39" href="javascript:changeColour('3333');">
<area shape=rect coords="40,20,59,39" href="javascript:changeColour('3366');">
<area shape=rect coords="60,20,79,39" href="javascript:changeColour('3399');">
<area shape=rect coords="80,20,99,39" href="javascript:changeColour('33cc');">
<area shape=rect coords="100,20,119,39" href="javascript:changeColour('33ff');">

<area shape=rect coords="0,40,19,59" href="javascript:changeColour('6600');">
<area shape=rect coords="20,40,39,59" href="javascript:changeColour('6633');">
<area shape=rect coords="40,40,59,59" href="javascript:changeColour('6666');">
<area shape=rect coords="60,40,79,59" href="javascript:changeColour('6699');">
<area shape=rect coords="80,40,99,59" href="javascript:changeColour('66cc');">
<area shape=rect coords="100,40,119,59" href="javascript:changeColour('66ff');">

<area shape=rect coords="0,60,19,79" href="javascript:changeColour('9900');">
<area shape=rect coords="20,60,39,79" href="javascript:changeColour('9933');">
<area shape=rect coords="40,60,59,79" href="javascript:changeColour('9966');">
<area shape=rect coords="60,60,79,79" href="javascript:changeColour('9999');">
<area shape=rect coords="80,60,99,79" href="javascript:changeColour('99cc');">
<area shape=rect coords="100,60,119,79" href="javascript:changeColour('99ff');">

<area shape=rect coords="0,80,19,99" href="javascript:changeColour('cc00');">
<area shape=rect coords="20,80,39,99" href="javascript:changeColour('cc33');">
<area shape=rect coords="40,80,59,99" href="javascript:changeColour('cc66');">
<area shape=rect coords="60,80,79,99" href="javascript:changeColour('cc99');">
<area shape=rect coords="80,80,99,99" href="javascript:changeColour('cccc');">
<area shape=rect coords="100,80,119,99" href="javascript:changeColour('ccff');">

<area shape=rect coords="0,100,19,119" href="javascript:changeColour('ff00');">
<area shape=rect coords="20,100,39,119" href="javascript:changeColour('ff33');">
<area shape=rect coords="40,100,59,119" href="javascript:changeColour('ff66');">
<area shape=rect coords="60,100,79,119" href="javascript:changeColour('ff99');">
<area shape=rect coords="80,100,99,119" href="javascript:changeColour('ffcc');">
<area shape=rect coords="100,100,119,119" href="javascript:changeColour('ffff');">
</map>
<map name="bluepickermap">
<area shape=rect coords="0,0,19,19" href="javascript:changeBlue(0);">
<area shape=rect coords="0,20,19,39" href="javascript:changeBlue(1);">
<area shape=rect coords="0,40,19,59" href="javascript:changeBlue(2);">
<area shape=rect coords="0,60,19,79" href="javascript:changeBlue(3);">
<area shape=rect coords="0,80,19,99" href="javascript:changeBlue(4);">
<area shape=rect coords="0,100,19,119" href="javascript:changeBlue(5);">
</map>

<img name="colourpickerimage" usemap="#colourpickermap" border=0 src="/todo/images/blue00.gif" width=120 height=120">
<img usemap="#bluepickermap" border=0 src="/todo/images/blue.gif" width=20 height=120">
<a href="javascript:done()"><img border=0 name="colourview" src="/todo/images/000000.gif" border=0 width=120 height=120></a>
</body>
</html>
@end
