@section success
<HTML>
<HEAD><TITLE>WebTodo Form</TITLE></HEAD>
<BODY BGCOLOR=#ffffff VLINK=black LINK=black>
<TABLE WIDTH=100%><TR><TD BGCOLOR="#000000">
<IMG SRC="/todo/images/banner.png" ALT="WebTodo">
</TD></TR></TABLE>
<H2>Task ID : @{id}</H2>
<P>
Thanks for your request which has been added to our system - you can
review its progress by going to
<A HREF="@{list_page}?id=@{id}">http://@{server_name}@{list_page}?id=@{id}</A>
</P>
<P>
Please quote the task id in future email correspondence. 
</P>
</BODY>
</HTML>
@end success
